@import url("./__caption/lead__caption.css");
@import url("./__image/lead__image.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__title/lead__title.css");

.lead {
  max-width: 984px;
  height: 1005px;
  margin: 58px auto 92px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    height: 962px;
    margin: 50px auto 92px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    height: 862px;
    margin: 50px auto 88px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
    height: 406px;
    margin: 50px auto 64px;
  }
}
