.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  color: #ffffff;
  max-width: 320px;
  position: relative;
  left: 35%;
  top: 35%;
  /* padding: 391px 43px 283px; */
}
