.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin: 0 18px 0 0;
}

.footer__link:last-child {
  margin: 0;
}

.footer__link:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 320px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    margin: 0 0 32px;
    display: block;
  }

  .footer__link:last-child {
    margin: 0 0 48px;
  }
}
