.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  color: #ffffff;
  max-width: 484px;
  margin: 0 0 25px;
}

.place__paragraph:last-child {
  line-height: 26px;
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .place__paragraph:last-child {
    line-height: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
    font-size: 16px;
    margin: 0 16px 25px;
  }

  .place__paragraph:last-child {
    line-height: 163%;
    margin: 0 16px 0;
  }
}
