.lead__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  text-align: center;
  color: #ffffff;
  max-width: 620px;
  height: 72px;
  margin: 0 auto 64px;
}
