.cover__background {
  max-width: 1184px;
  background: url("../../../images/cover-route-66.jpeg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  min-height: 740px;
}

@media only screen and (max-width: 1024px) {
  .cover__background {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media only screen and (max-width: 768px) {
  .cover__background {
    max-width: 768px;
    min-height: 480px;
    margin-bottom: 89px;
  }
}

@media only screen and (max-width: 320px) {
  .cover__background {
    max-width: 320px;
    min-height: 200px;
    margin-bottom: 64px;
  }
}
