.lead__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height, or 140% */
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 8px 0 0;
}

@media only screen and (max-width: 320px) {
  .lead__caption {
    margin: 8px 777px 0 24px;
  }
}

@media only screen and (max-width: 320px) {
  .lead__caption {
    margin: 8px 122px 0 16px;
  }
}
