.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* identical to box height, or 106% */
  text-align: center;
  color: #fffdfd;
  width: 656px;
  height: 76px;
  text-decoration: none;
}
