.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* identical to box height, or 106% */
  color: #fffdfd;
  max-width: 656px;
  text-decoration: none;
  /* margin: 0 0 32px 0; */
  position: relative;
  left: 22%;
  top: 35%;
  /* padding: 283px 264px 0 264px; */
}
@media only screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    left: 10%;
    top: 20%;
  }
}
